<script>
import Dropdown from "./submenu/dropdown"
import Popup from './submenu/popup'
import $s from './../../../store'
import _ from 'lodash'

export default {
  name: "MenuGroup",

  components: {
    Dropdown, Popup
  },

  props: {
    name: {
      type: String,
      required: true
    },
    iconClass: {
      type: String,
      required: false
    },
    iconPath: {
      type: String,
      required: false
    },
    text: {
      type: String,
      required: true
    }
  },

  computed: {
    childrenMenuItems() {
      let arr = []
      this.$slots.default.forEach(component => {
        let name = _.get(component, 'componentOptions.propsData.name', null)

        if (name) {
          arr.push(name)
        }
      });
      return arr
    },

    isCompact() {
      return $s.isCompact
    },

    isActive() {
      return this.childrenMenuItems.includes(this.$store.state.menu.currentMenuItemName);
    },

    isSelected() {
      return $s.userSelectedMenuItem === this.name
    },

    isShowSubmenu() {
      if (!this.isCompact) {
        return this.isActive || this.isSelected
      }

      $s.isPopupShown = true
      return this.isSelected
    },

    arrowPointerClass() {
      if (this.isCompact) {       
        return 'fa fa-angle-right'
      }

      if (this.isSelected || this.isActive) {
        return 'fa fa-angle-up'
      }

      return 'fa fa-angle-down'
    }
  },
  
  methods: {
    toggleSelectedMenuItem() {
      if (!this.isCompact && this.isActive) {
        return
      }
      
      if ($s.userSelectedMenuItem !== this.name) {
        $s.userSelectedMenuItem = this.name;
      } else {
        $s.userSelectedMenuItem = null;
      }
    }
  }
};
</script>

<template>
  <div class="_menu-group" :class="{active: isActive, selected: isSelected}">
    <div class="_button" @click="toggleSelectedMenuItem">
      <i :class="[iconClass]" class="fa">
        <img v-if="iconPath" :src="iconPath"/>
      </i>
      <p class="_collapsed-hidden _menu-group-link">{{ text }}</p>
      <span :class="arrowPointerClass" />
    </div>
  
    <div v-if="isShowSubmenu"
        class="submenu">
      <Dropdown v-if="!isCompact">
        <slot></slot>
      </Dropdown>
      <Popup v-if="isCompact">
        <slot></slot>
      </Popup>
    </div>
  </div>
</template>

<style lang="scss" scoped>
._menu-group {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;

  ._button {
    padding: 1.5rem 0 1rem;
  }

  ._menu-group-link {
    transition: opacity 0.3s;
    margin-bottom: 0;
    font-size: 1.4rem;
    margin-top: 5px;
  }

  .fa-angle-right {
    right: 9px;
    top: 19px;
    font-size: 1.3rem;
    width: 5px;
    margin-right: -7px;
    margin-left: 2px;
  }

  &:hover {
    background-color: #134f95 ;
  }

  &.selected, &.active{
    background-color: #134f95;
    padding-bottom: 1.5rem;

    & ._button {
      padding: 1.5rem 0 1rem;
    }
  }

  i.fa {
    margin: 0;
    height: 20px;
    img {
      height: 20px;
    }
  }
}
</style>