<script>
import DesktopMenu from './desktop'
import MobileMenu from './mobile'
import store from "./../store"
import $s from "./store"

export default {
  name: "Menu",
  
  components: {
    DesktopMenu, MobileMenu
  },

  data () {
    return {
      userSelectedMenuItemBeforeClick: false,
      isDesktop: false
    }
  },

  store,

  methods: {
    onWindowResize() {
      $s.isDesktop = window.innerWidth >= 768
      this.isDesktop = $s.isDesktop
    },

    removePreloader() {
      document.getElementsByClassName('am-wrapper')[0].style.display = 'flex'
      document.body.removeChild(window.preloader)
    }
  }, 

  mounted() {
    $s.isCompact = localStorage.getItem('isMenuCompact') === 'true';

    this.removePreloader();
    this.onWindowResize();

    window.addEventListener('resize', this.onWindowResize);
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onWindowResize)
  }
};
</script>

<template>
  <div class="_menu">  
    <DesktopMenu v-if="isDesktop" />
    <MobileMenu v-else />
  </div>
</template>

<style lang="scss" scoped>
  .menu {
    display: flex;
    z-index: 9999999;
  }
</style>