<script>
import Toolbar from './toolbar'
import Navbar from './navbar'
import $s from './../store'
import HamburgerButton from './components/hamburger-button'

export default {
  name: 'MobileMenu',

  components: {
    HamburgerButton, Toolbar, Navbar
  },
  
  data() {
    return {
      beforeScrollPosition: 0,
      isShowMenu: true
    }
  },

  computed: {
    isShowHamburgerMenu() {
      return $s.isHamburgerMenuVisible;
    },
  },

  methods: {
    onScroll(event) {
      if (!this.isShowHamburgerMenu) {
        if (this.beforeScrollPosition - event.pageY < -5) {
          this.isShowMenu = false
        } else if (this.beforeScrollPosition - event.pageY > 5) {
          this.isShowMenu = true
        }
      }

      this.beforeScrollPosition = event.pageY
    }
  },

  created() {
    this.beforeScrollPosition =  window.pageYOffset || document.documentElement.scrollTop
    window.addEventListener('scroll', this.onScroll);
  },

  destroyed() {
    window.removeEventListener('scroll', this.onScroll);
  }
};
</script>

<template>
  <div v-if="isShowMenu" class="_mobile" :class="{ '_hamburger-visible': isShowHamburgerMenu }">
    <div class="rainbow"></div>
    <nav>
      <HamburgerButton/>
      <Toolbar/>
    </nav>
    <Navbar v-if="isShowHamburgerMenu"/>
  </div>
</template>

<style lang="scss" scoped>
._mobile {
  display: block;
  position: fixed;
  width: 100%;
  background-color: #1e4777;
  z-index: 99999999;
  white-space: normal;
  .rainbow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, #07daf0, #5ee23b 20%, #addc00 47%, #fcce00 67%, #ff7536 83%, #ff187c);
  }
  nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-sizing: border-box;
    align-items: center;
  }
}
</style>