<script>
import MenuGroup from './components/menu/menu-group'
import MenuItemLvL1 from './components/menu/menu-items/menu-item-lvl-1'
import MenuItemLvL2 from './components/menu/menu-items/menu-item-lvl-2'
import Profile from "./components/profile/";
import $s from "./../store"


export default {
  name: "MobileNavbar",

  components: {
    MenuGroup, MenuItemLvL1, MenuItemLvL2, Profile
  },

  computed: {
    isManager:() => JSDATA.current_user.role === 'менеджер',
    isRuk:() => JSDATA.current_user.role === 'руководитель',
    isBuh:() => JSDATA.current_user.role === 'бухгалтер',
  },

  methods: {
    onClickAnywhereHideNavbar(e) {
      const box = this.$el.getBoundingClientRect()

      if (e.x < box.left || e.x > box.right || e.y < box.top  || e.y > box.bottom) {
        $s.isHamburgerMenuVisible = false
      }
    }
  },

  created() {
    window.addEventListener('click', this.onClickAnywhereHideNavbar)
  },

  beforeDestroy() {
    window.removeEventListener('click', this.onClickAnywhereHideNavbar)
  }
};
</script>

<template>
  <div class="navbar-wrap">
    <div class="_navbar">
      <div class="_menu-items">
        <Profile/>

        <MenuItemLvL1 text="Главная" :iconPath="require('../icons/1-dashboard.svg')" name="lk" href="/lk/"/>
        <MenuItemLvL1 text="Заявки" :iconPath="require('../icons/2-requests.png')" name="orders" href="/orders/"/>

        <MenuGroup text="Отчеты" :iconPath="require('../icons/3-stats.svg')" name="reports">
          <MenuItemLvL2 v-if="!isManager" text="Менеджеры" href="/statistics?view=managers" name="statistics_by_managers"/>
          <MenuItemLvL2 text="Заказчики" href="/statistics?view=companies" name="statistics_by_companies"/>
          <MenuItemLvL2 text="Перевозчики" href="/statistics?view=trucking_companies" name="statistics_by_trucking"/>
          <MenuItemLvL2 text="Водители" href="/statistics?view=drivers" name="statistics_by_drivers"/>
        </MenuGroup>

        <MenuGroup v-if="!isManager" text="Финансы" :iconPath="require('../icons/4-finance.svg')" name="finances">
          <MenuItemLvL2 text="Заявки" href="/order_money_movements" name="finances_by_orders"/>
          <MenuItemLvL2 v-if="isRuk || isBuh" text="Зарплаты" href="/user_money_movements" name="finances_by_salary"/>
          <MenuItemLvL2 v-if="isRuk || isBuh" text="Прочее" href="/other_money_movements" name="finances_others"/>
          <MenuItemLvL2 text="Акты сверки" href="/contragent_moneys" name="finances_contragent"/>
        </MenuGroup>

        <MenuItemLvL1 text="Компании" :iconPath="require('../icons/5-building.svg')" name="companies" href="/companies/"/>
        <MenuItemLvL1 text="Водители" :iconPath="require('../icons/6-truck.svg')" name="drivers" href="/drivers"/>

        <MenuGroup text="Документы" :iconPath="require('../icons/7-inbox.svg')" name="documents">
          <MenuItemLvL2 text="Исходящие" href="/documents" name="documents"/>
          <MenuItemLvL2 text="Файлы" href="/attachments" name="attachments"/>
          <MenuItemLvL2 text="Шаблоны" href="/doc_templates" name="doc_templates"/>
          <MenuItemLvL2 v-if="isRuk || isBuh" text="Экспорт в 1С" href="/documents/exportable" name="export_to_one_s"/>
        </MenuGroup>

        <MenuGroup v-if="isRuk" text="Настройки" :iconPath="require('../icons/8-settings.svg')" name="settings">
          <MenuItemLvL2 text="Общее" href="/settings/show" name="setting_common"/>
          <MenuItemLvL2 text="Сотрудники" href="/users" name="settings_users"/>
          <MenuItemLvL2 text="Наши компании" href="/companies/ours" name="settings_companies"/>
          <MenuItemLvL2 text="Импорт контрагентов" href="/settings/import_from_excel" name="dad"/>
        </MenuGroup>
      </div>

    </div>
  </div>
</template>

<style lang="scss" scoped>
  .navbar-wrap {
    position: fixed;
    height: 100%;
    top: 0;
    padding-top: 64px;
    overflow-y: auto;
    z-index: -2;
  }
  ._navbar {
    background-color: #1860b4;
    color: #fff;
    left: 0;
    height: 100%;
    width: 164px;
    padding-bottom: 2rem;
    box-sizing: border-box;
    overflow-y: auto;

  }
</style>