<script>
import MenuIconButton from './components/menu/menu-items/menu-item-icon-button'
import NotificationsList from './../components/notification-list'

export default {
  name: "MobileToolBar",

  components: {
    MenuIconButton, NotificationsList
  }
};
</script>

<template>
  <div class="_toolbar">
    <div class="_menu-items">

      <MenuIconButton name="new" :iconPath="require('../icons/plus.svg')" >
        <a class="_menu-item-link" href="/orders/new">Новая заявка</a>
        <a class="_menu-item-link" href="/order_money_movements/registry?direct=2">Приход</a>
        <a class="_menu-item-link" href="/order_money_movements/registry?direct=1">Расход</a>
      </MenuIconButton>
      <!-- <MenuIconButton name="notifications" 
        disabled disabledMessage="Уведомления скоро будут доступны"
        :iconPath="require('../icons/notifications.svg')" >
        <NotificationsList :notifications="['Это мок', 'Уведомлений']"/> -->
      <!-- </MenuIconButton> -->
      <MenuIconButton name="adress_book" 
        disabled disabledMessage="Адресная книга скоро будет доступна"
        :iconPath="require('../icons/adress-book.svg')" >
        </MenuIconButton>

      <MenuIconButton name="phone"
        disabled disabledMessage="Телефония скоро будет доступна"
        :iconPath="require('../icons/telephone.svg')" >
      </MenuIconButton>
      <MenuIconButton name="help" :iconPath="require('../icons/support.svg')" >
        <a class="_menu-item-link" href="/guide_pages">Перейти в общую справку</a>
        <a class="_menu-item-link" href="/spa#/support_issues">Обратиться в техподдержку</a>
      </MenuIconButton>

    </div>
  </div>
</template>

<style lang="scss" scoped>
  ._toolbar {
    width: 100%;
    font-size: 16px;
    /deep/ ._menu-items {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      ._menu-item-notification {
        display: inline-block;
        padding: 1rem;
        margin-left: 1rem;
        i {
          height: auto;
          width: auto;
          font-size: 24px;
        }
        ._disabled {
          color: #54698a;
          cursor: no-drop;
        }
      }
    }
  }
</style>