<script>
import $s from "./../../../../../store";
import Badge from "./icon-button-badge";
import PopupMenu from "./../../submenu/popup"
import IconButtonMixin from "./../../../../../mixins/menu-icon-button-mixin"

export default {
  name: "IconButton",

  mixins: [IconButtonMixin],

  components: {
    Badge, PopupMenu
  },
};
</script>

<template>
  <div :class="[iconClass, {'_selected': isSelected}]" class="_menu-item-notification" @click="toggleSelectedMenuItem">
    <i :class="[iconClass, { '_disabled': disabled }]" class="fa">
      <Badge :count="badgeCount"/>
      <img :src="iconPath"/>
    </i>

    <PopupMenu v-if="isSelected">
      <slot></slot>
    </PopupMenu>
  </div>
</template>

<style lang="scss" scoped>
  ._menu-item-notification {
    position: relative;
    padding: 15px 0;
    &._selected {
      color: #1991eb;
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 6px 5px;
        border-color: transparent transparent #f1f4f8 transparent;
        top: 100%;
        transform: translateY(4px);
        position: absolute;
        left: 39%;
      }
      ._popup-men{
        top: 46px;
        left: auto;
      }
    }

    i {
      height: 24px;
      font-size: 20px;
      width: 24px;
      text-align: center;
      margin: 0;
      color: #ffffff;
      position: relative;
      cursor: pointer;

      &._disabled {
        opacity: 0.6;
        cursor: no-drop;
      }

      ._badge {
        position: absolute;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: #ff1d10;
        color: #ffffff;
        font-size: 11px;
        line-height: 20px;
        right: -6px;
        top: -9px;
      }
    }
  }
</style>