<script>
export default {
  name: "Badge",
  
  props: {
    count: Number | String
  }
};
</script>

<template>
  <div v-if="count > 0" class="_badge">
    <span v-if="count >= 10">
      <span class="_circle"></span>
    </span>
    <span v-else class="_count">{{ count }}</span>
  </div>
</template>

<style lang="scss" scoped>
._badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #ff1d10;
  color: #ffffff;
  font-size: 11px;
  line-height: 20px;

  ._circle {
    position: relative;
    display: inline-block;
    background-color: white;
    height: 6px;
    width: 6px;
    border-radius: 50%;
  }
  ._count {
    font-family: ProximaNova, Calibri, sans-serif;
  }
}
</style>