<script>
import $s from "./../../../../../store";
import Badge from "./icon-button-badge";
import PopupSubmenu from "./../../submenu/popup"
import IconButtonMixin from "./../../../../../mixins/menu-icon-button-mixin"

export default {
  name: "IconButton",

  mixins: [IconButtonMixin],

  components: {
    Badge, PopupSubmenu
  },
};
</script>

<template>
  <div :class="[iconClass, {'_selected': isSelected}]" class="_menu-item-notification" @click="toggleSelectedMenuItem">
    <i :class="[iconClass, { '_disabled': disabled, '_selected': isSelected, '_active': isActive }]" class="fa">
      <img v-if="iconPath" :src="iconPath"/>
      <Badge :count="badgeCount"/>
    </i>

    <PopupSubmenu v-if="isSelected">
      <slot></slot>
    </PopupSubmenu>
  </div>
</template>

<style lang="scss" scoped>
._menu-item-notification {
  position: relative;
  padding: 15px 0;
  margin-bottom: 10px;
  &._selected {
    color: #1991eb;
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 6px 5px 0;
      border-color: transparent #f1f4f8 transparent transparent;
      right: 0;
      top: 40%;
      position: absolute;
    }
  }
  i {
    height: 24px;
    font-size: 20px;
    width: 24px;
    text-align: center;
    margin: 0;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    &._disabled {
      opacity: 0.6;
      cursor: no-drop;
    }
    &._selected {
      color: #1991eb;
    }
    &._active {
      background: rgba($color: #fff, $alpha: 0.2);
      border-radius: 50%;
      box-sizing: content-box;
      padding: 3px;
    }
    ._badge {
      position: absolute;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: #ff1d10;
      color: #ffffff;
      font-size: 11px;
      line-height: 20px;
      right: -6px;
      top: -9px;
    }
  }
}
</style>