<script>
import Submenu from "./submenu/slideright"
import $s from './../../../store'
import _ from 'lodash'

export default {
  name: "MobileMenuGroup",

  components: {
    Submenu
  },

  props: {
    name: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    }
  },

  computed: {
    childrenMenuItems() {
      let arr = []
      
      this.$slots.default.forEach(component => {
        let name = _.get(component, 'componentOptions.propsData.name', null)
        if (name) {
          arr.push(name)
        }
      });
      return arr
    },

    isCompact (){
      return $s.isCompact
    },

    isActive () {
      return this.childrenMenuItems.includes(this.$store.state.menu.currentMenuItemName);
    },

    isSelected() {
      return $s.userSelectedMenuItem === this.name
    },
    
    isShowSubmenu () {
      return this.isSelected
    }, 
  },
  methods: {
    toggleSelectedMenuItem() {
      if ($s.userSelectedMenuItem !== this.name) {
        $s.userSelectedMenuItem = this.name;
      } else {
        $s.userSelectedMenuItem = null;
      }
    }
  }
};
</script>

<template>
  <div class="_menu-group" @click="toggleSelectedMenuItem" :class="{ '_active': isActive, '_selected': isSelected}">
    <p class="_collapsed-hidden _menu-group-link">{{ text }}</p>
    <span class="fa fa-angle-right"></span>
    <Submenu v-if="isShowSubmenu">
      <slot></slot>
    </Submenu>
  </div>
</template>

<style lang="scss" scoped>
._menu-group {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
    ._menu-group-link {
      margin: 0;
      transition: opacity 0.3s;
      font-size: 1.5rem;
      line-height: 1;
      cursor: pointer;
      padding-right: 6px;
    }

    img {
      transition: opacity 0.3s;
    }

    span {
      font-size: 1.3rem;
    }
    &:hover ._menu-group-link {
      opacity: 0.6;
    }

    &:hover img {
      opacity: 0.6;
    }

    &:hover span {
      opacity: 0.6;
    }

    &._selected {
      background-color: #1e4777;

        &:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 6px 5px 0;
          border-color: transparent #f1f4f8 transparent transparent;
          right: 0;
          top: 40%;
          position: absolute;
        }
    }
}
</style>