<script>
export default {
  name: "NotificationList",
  
  props: {
    notifications: {
      required: true,
      type: Array
    }
  }
};
</script>

<template>
  <div class="_notification-list">
    <li v-for="notification in notifications" :key="notification">
      {{ notification }}
    </li>
  </div>
</template>

<style lang="scss" scoped>

</style>