<script>
import $s from './../../store'


export default {
  name: "CompactButton",

  methods: {
    onClick () {
      $s.isCompact = !$s.isCompact
      $s.userSelectedMenuItem = null
      localStorage.setItem('isMenuCompact', $s.isCompact)
    }
  },

  computed: {
    isCompact () {
      return $s.isCompact;
    },
  }
};
</script>

<template>
  <div class="_compact-button-wrapper">
    <button class="_compact-button"
      :class="{ '_collapsed': isCompact }"
      @click="onClick">
      <i :class="isCompact ? 'fa fa-angle-right' : 'fa fa-angle-left'" >
      </i>
    </button>
  </div>
</template>

<style lang="scss" scoped>
._compact-button {
  width: 100%;
  padding: 1.5rem 0;
  background-color: #1860b4;
  color: #fff;
  border: none;
  cursor: pointer;
  i {
    font-size: 26px;
  }
}
</style>