<script>
import MenuItemMixin from './../../../../mixins/menu-item-mixin'

export default {
  name: "MenuItemLvL1",

  mixins: [MenuItemMixin],

  props: {
    iconClass: {
      type: String,
      required: false
    },
    iconPath: {
      type: String,
      required: false
    },
  }
};
</script>

<template>
  <div class="_menu-item _lvl-1" :class="{ '_active': isActive }">
    <a :href="href" class="_item-link">
      <i :class="[iconClass]" class="fa">
        <img v-if="iconPath" :src="iconPath"/>
      </i>
      <p class="_collapsed-hidden">{{ text }}</p>
    </a>
  </div>
</template>

<style lang="scss" scoped>
._menu-item {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  a {
    padding: 1.5rem 0;
  }
  &._active {
    background-color: #134f95;
  }
  &:hover {
    background-color: #134f95 ;
  }
  ._item-link {
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    transition: opacity 0.3s;
    font-size: 1.4rem;
    p {
      font-size: 1.4rem;
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
  ._collapsed-hidden {
    margin-top: 10px;
  }
  i.fa {
    margin: 0;
    height: 20px;
    position: relative;
    text-align: center;
    img {
      height: 20px;
    }
  }
}
</style>