<script>
import MenuItemMixin from './../../../../mixins/menu-item-mixin'

export default {
  name: "MenuItemLvL2",

  mixins: [MenuItemMixin]
};
</script>

<template>
  <div class="_menu-item _lvl-2" :class="{ '_active': isActive }">
    <a :href="href" class="_link">
      {{ text }}
    </a>
  </div>
</template>

<style lang="scss" scoped>
  ._menu-item {
    &._active {
      color: #F8E71C;
    }
    ._link {
      display: inline-block;
      width: 100%;
      color: #fff;
      font-size: 1.3rem;
      line-height: 24px;
      transition: color 0.3s 0.3s;
      &:hover {
        color: #F8E71C;
      }
      ._active {
        color: #F8E71C;
      }
    }
  }
  ._active {
    ._link {
      color: #F8E71C;
    }
  }
</style>