<script>
import MenuItemMixin from './../../../../mixins/menu-item-mixin'

export default {
  name: "MobileMenuItemLvL1",
  
  mixins: [MenuItemMixin],
};
</script>

<template>
  <div class="_menu-item _lvl-1" :class="{ '_active': isActive }">
    <a :href="href" class="_menu-link-wrap">
      <p class="_collapsed-hidden _menu-item-link">{{ text }}</p>
    </a>
  </div>
</template>

<style lang="scss" scoped>
._menu-item {
  padding: 1rem 1rem 1rem 2rem;
  margin: 0;
  ._menu-item-link {
    transition: opacity 0.3s;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    color: #fff;
    margin: 0;
    &:hover {
    opacity: 0.6;
    }
  }
  ._menu-link-wrap {
    display: inline-block;
    position: relative;
    text-align: left;
    color: white;
    cursor: pointer;
  }
    &._active {
        background-color: #1e4777;
    }
}
</style>