<script>
import MenuItemMixin from './../../../../mixins/menu-item-mixin'

export default {
  name: "MobileMenuItemLvL2",

  mixins: [MenuItemMixin],
};
</script>

<template>
  <div class="_menu-item _lvl-2" :class="{ '_active': isActive }">
    <a :href="href">
      {{ text }}
    </a>
  </div>
</template>

<style lang="scss" scoped>
  a._active {
    opacity: 0.6;
  }
</style>