<script>
import $s from './../../store'
import { numberWithSeparator } from 'vue/lib/number-helpers';

export default {
  name: "ProfileMenu",

  computed: {
    userProfileUrl(){
      return '/users/' + JSDATA.current_user.id;
    },

    balance() {
      if (JSDATA.current_user.role === 'руководитель') {
        return {
          title: 'Баланс',
          amount: numberWithSeparator(JSDATA.current_client.balance, '\'')
        }
      }

      return {
        title: 'Зарплата',
        amount: numberWithSeparator(JSDATA.current_user.debt, '\'')
      }
    },

    isCompact() {
      return $s.isCompact
    },

    isMobile() {
      return !$s.isDesktop
    },

    isShortText() {
      return this.isCompact || this.isMobile
    },
  },
};
</script>

<template>
  <div class="_profile-menu">
    <a class="_balance" href="/settings/balance">
      <a class="_balance_account">
        {{ balance.title }}<!-- remove
        space--><span v-if="!isShortText">: {{ balance.amount }}<NtCurrencySign /></span>
        <i class="_arrow fa fa-angle-right"></i>
      </a>
    </a>
    <div class="_profile-menu-wrap">
      <a :href="userProfileUrl" class="_link">
        {{ isShortText ? 'Профиль' : 'Мой профиль' }}
        <span class="fa fa-angle-right"></span>
      </a>
      <a href="/companies/ours" class="_link">
        {{ isShortText ? 'Компании' : 'Наши компании' }}
        <span class="fa fa-angle-right"></span>
      </a>
    </div>
    <a href="/logout" class="logout-btn">
      {{ isShortText ? 'Выйти' : 'Выйти из системы' }}
    </a>
  </div>
</template>

<style lang="scss" scoped>
  ._profile-menu {
    width: 100%;
    box-sizing: border-box;
    background-color: #2e3949;
    z-index: 99999999;
    padding: 0 1.5rem 1rem;

    ._balance {
      display: flex;
      align-items: baseline;
      margin-bottom: 1rem;

      ._balance_account {
        margin-right: 6px;
        transition: color 0.3s 0.3s;
        i._arrow {
          opacity: 0;
          font-size: 1.3rem;
          margin-left: 6px;
          transition: all 0.3s 0.3s;
        }
        span {
          i {
            color: #fff;
            transition: color 0.3s 0.3s;
          }
        }
        &:hover {
          color: #F8E71C;
          .fa-angle-right {
            color: #F8E71C;
            opacity: 1;
          }
          span {
            i {
              color: #F8E71C;
              transition: color 0.3s 0.3s;
            }
          }
        }
      }
      ._balance_account, ._account_sum {
        color: #fff;
        font-size: 1.4rem;
        line-height: 2;
      }
      ._account_sum {
        margin-right: 10px;
      }
      i {
        color: #fff;
        font-size: 1.3rem;
        margin-left: 6px;
        margin-right: 0;
      }
    }

    ._profile-menu-wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: max-content;
    }

    ._link {
      display: inline-block;
      color: #fff;
      font-size: 1.4rem;
      line-height: 2;
      margin-bottom: 1rem;
      transition: color 0.3s 0.3s;
      span {
        opacity: 0;
        font-size: 1.3rem;
        margin-left: 6px;
        transition: opacity 0.3s 0.3s;
      }
      &:hover {
        color: #F8E71C;
      }
      &:hover .fa-angle-right {
        color: #F8E71C;
        opacity: 1;
      }
    }

    .logout-btn {
      display: inline-block;
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
      color: #fff;
      background-color: #3090D9;
      padding: 5px 0;
      border-radius: 4px;
      border: solid 1px rgba(0, 0, 0, 0.1);
      transition: opacity 0.3s;
      margin-top: 1rem;
      margin-bottom: 2rem;
      &:hover {
        opacity: 0.6;
      }
    }
  }
</style>