<template>
  <div class="_slideright-menu"
    :style="{ transform: `translateY(${this.DOMElementVerticalShift})`}">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Slideright',

  data () {
    return {
      DOMElementVerticalShift: '0px'
    }
  },


  methods: {
    moveOutOfScreen() {
      const box = this.$el.getBoundingClientRect();

      if (box.bottom > window.innerHeight) {
        const pixelsOutOfScreenCount = window.innerHeight - box.bottom - 10

        return pixelsOutOfScreenCount + 'px'
      } else if (box.top < 0) {
        const pixelsOutOfScreenCount = -box.top + 10

        return pixelsOutOfScreenCount + 'px'
      }
      
      return '0px'
    }
  },

  mounted () {
    this.DOMElementVerticalShift = this.moveOutOfScreen()
  }
}
</script>

<style lang="scss" scoped>
  ._slideright-menu {
    position: fixed;
    left: 164px;
    /*top: auto;*/
    height: auto;
    width: auto;
    z-index: 999999;
    background-color: #f1f4f8;
    box-shadow: 6px 3px 11px 0 rgba(92, 92, 92, 0.63);
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    min-width: 148px;
    /deep/
    a {
      display: inline-block;
      color: #5A6575;
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.4rem;
      line-height: 21px;
      padding: 1rem;
      vertical-align: middle;
      width: 100%;
      border-bottom: 1px solid #d8d8d8;
      text-align: left;
    }
  }
</style>