<script>
import $s from './../../store'


export default {
  name: "HamburgerButton",
  methods: {
    onClick() {
      $s.isHamburgerMenuVisible = !$s.isHamburgerMenuVisible
    }
  },
  computed: {
    isHamburgerMenuVisible() {
      return $s.isHamburgerMenuVisible;
    },
  }
};
</script>

<template>
    <div class="_hamburger-button"
      :class="{ 'close': isHamburgerMenuVisible }"
      @click="onClick" >
      <span class="_hamburger-button-line"></span>
      <span class="_hamburger-button-line _center"></span>
      <span class="_hamburger-button-line"></span>
    </div>
</template>

<style lang="scss" scoped>
._hamburger-button {
  width: 50px;
  height: 40px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  ._hamburger-button-line {
    display: block;
    height: 3px;
    width: 24px;
    background: #1891eb;
    border-radius: 9px;
    opacity: 1;
    left: 50%;
    transition: all .25s ease-in-out;
  }
  span:nth-child(2) {
    margin: 4px 0;
  }
  &.close {
    display:block;
    & span {
      left: 50%;
      margin: 0 !important;
      position: absolute;
      width: 20px;
      transform: translateX(-50%) rotate(0deg);

      &:nth-child(1) {
        top: 19px;
        position: absolute;
        transform: translateX(-50%) rotate(135deg);;
      }
      &:nth-child(2) {
        width: 0;
        height: 0;
        transform: none;
      }
      &:nth-child(3) {
        position: absolute;
        top: 19px;
        transform: translateX(-50%) rotate(-135deg);
      }
    }
  }
}
</style>