<template>
  <div class="_dropdown">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
  ._dropdown {
    background: #134f95;
    text-align: left;
    padding: 0 2rem;
    i {
      font-size: 9px; // Заглушка для линии
    }
    a {
      cursor: pointer;
      font-size: 1.3rem;
      line-height: 24px;
      transition: color 0.3s 0.3s;
      &:hover{
        color: #F8E71C;
      }
    }
  }
</style>