<script>
import PopupMixin from './../../../../mixins/popup-mixin'

export default {
  data () {
    return {
      DOMElementVerticalShift: '0px'
    }
  },

  mixins: [PopupMixin],

  methods: {
    moveOutOfScreen() {
      const box = this.$el.getBoundingClientRect();

      if (box.bottom > window.innerHeight) {

        const pixelsOutOfScreenCount = window.innerHeight - box.bottom - 10

        return pixelsOutOfScreenCount + 'px'
      } else if (box.top < 0) {

        const pixelsOutOfScreenCount = -box.top + 10

        return pixelsOutOfScreenCount + 'px'
      }
      

      return '0px'
    }
  },

  mounted () {
    this.DOMElementVerticalShift = this.moveOutOfScreen()
  }
}
</script>

<template>
  <div class="_popup-menu"
    :style="{ transform: `translateY(-50%) translateY(${this.DOMElementVerticalShift})` }">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
  ._popup-menu {
    width: auto;
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 999999;
    background-color: #f1f4f8;
    box-shadow: 6px 3px 11px 0 rgba(92, 92, 92, 0.63);
    border-radius: 4px;
    border: 1px solid #d8d8d8;

    /deep/ a._link{
      display: inline-block;
      color: #5A6575;
      transition: color 0.3s;
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.4rem;
      line-height: 21px;
      padding: 1rem;
      vertical-align: middle;
      width: 100%;
      border-bottom: 1px solid #d8d8d8;
      text-align: left;
      &:hover{
        color: #0082d5;
        background-color: #fff;
      }
    }

    a._link:last-child{
      border-bottom: none;
    }
  }
</style>