<script>
import Progress from './progress'
import Menu from '../../../components/profile-menu/'

export default {
  name: "Profile",

  data() {
    return {
      isShowMenu: false
    };
  },
  
  components: {
    Progress, Menu
  },

  methods: {
    onProfileClick() {
      this.isShowMenu = !this.isShowMenu
    }
  },

  computed: {
    userName:() => JSDATA.current_user.name_shorted,

    doShowProgress() {
      if (JSDATA.current_user.margin_plan.planned <= 0) return false;

      return JSDATA.current_user.role !== 'бухгалтер'
    },

    progressBarData() {
      const marginPlan = JSDATA.current_user.margin_plan;
      return {
        value: marginPlan.current_status,
        maxValue: marginPlan.planned
      }
    }
  },
};
</script>

<template>
  <div class="_profile-wrap">
    <div class="_profile" @click="onProfileClick">


      <p class="_collapsed-hidden _profile-role">{{ userName }}
        <span :class=" isShowMenu ? 'fa fa-angle-up' : 'fa fa-angle-down' "></span>
      </p>

      <Progress v-if="doShowProgress" v-bind="progressBarData"/>
    </div>

    <Menu v-if="isShowMenu"/>
  </div>
</template>

<style lang="scss" scoped>
  ._profile-wrap {
    margin-bottom: 2rem;
  }
  ._profile {
    max-width: 180px;
    position: relative;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #2e3949;
    cursor: pointer;

    ._profile-role {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
      text-align: left;
      position: relative;
      white-space: normal;
    }

    &:hover {
      /deep/ ._profile-menu {
        display: block;
      }
    }

    /deep/ ._profile-menu {
      display: none;
    }

    ._avatar {
      display: none;
      img {
        display: block;
        height: 36px;
        width: 36px;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 50%;
      }
    }

    p {
      color: white;
      font-size: 1.4rem;
    }
  }
</style>
