<script>
import $s from './../../../store.js'

export default {
  name: "Progress",

  props: {
    maxValue: Number | String,
    value: Number | String
  },

  computed: {   
    percentageProgress () {
      return Math.floor(100 / this.maxValue * this.value)
    },
    fillColor() {
      if (this.percentageProgress <= 30) return 'red';
      if (this.percentageProgress < 60) return 'yellow';

      return 'green'
    }
  },
};
</script>

<template>
  <div class="_progress">
    <div class="_bar">
      <div class="_fill"  :class="fillColor"  :style="{ width: percentageProgress + '%' }"></div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
._progress {
  text-align: center;
  ._bar {
    position: relative;
    background: #2e2e2e;
    height: 7px;
    margin: 13px 0;
    border-radius: 5px;
    overflow: hidden;
    ._fill {
      position: absolute;
      left: 0;
      display: inline-block;
      height: 100%;
    }
    .green {
      background-image: linear-gradient(90deg, #50a60a, #94d805);
    }
    .red{
      background-image: linear-gradient(90deg, #f95569, #9f031b);
    }
    .yellow{
      background-image: linear-gradient(90deg, #ffcc00, #f7b61c);
    }
  }
}
</style>