<script>
import $s from './../store'
import Toolbar from './toolbar'
import Navbar from './navbar'
import Profile from "./components/profile/";


export default {
  name: "DesktopMenu",

  components: {
    Profile, Toolbar, Navbar
  },

  computed: {
    isCompact () {
      return $s.isCompact
    }
  }
};

</script>
<template>
  <div class="_desktop" :class="{ '_compact': isCompact }">
    <Profile/>

    <div class="flex-wrap">
      <Toolbar/>
      <Navbar/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
._desktop {
  font-size: 0;
  white-space: nowrap;
  height: 100%;
  display: flex;
  flex-direction: column;
  .flex-wrap {
    display: flex;
    height: 100%;
  }
  ._toolbar, ._navbar {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
    white-space: normal;
  }
  ._toolbar {
    width: 60px;
    height: 100%;
    background: #1e4777;
    padding-top: 25px;
  }
  ._navbar {
    width: 120px;
    height: 100%;
    background: #1860b4;
    border-radius: 0;
    padding: 2.5rem 0;
    color: #ffffff;
  }
  ._profile-wrap {
    width: 180px;
    transition: width 0.5s ease-in-out; 
  }
  &._compact {
    ._profile-wrap {
      width: 120px;
    }
    /deep/ .navbar {
      width: auto;
    }
    /deep/ ._profile-role {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
</style>