<script>
import CompactButton from './components/compact-button'
import MenuGroup from './components/menu/menu-group'
import MenuItemLvL1 from './components/menu/menu-items/menu-item-lvl-1'
import MenuItemLvL2 from './components/menu/menu-items/menu-item-lvl-2'
import $s from './../store'

export default {
  name: "DesktopNavbar",
  
  components: {
    CompactButton,
    MenuGroup,
    MenuItemLvL1,
    MenuItemLvL2
  },

  computed: {
    isCompact:() => $s.isCompact,
    isManager:() => JSDATA.current_user.role === 'менеджер',
    isRuk:() => JSDATA.current_user.role === 'руководитель',
    isBuh:() => JSDATA.current_user.role === 'бухгалтер',
  }
};
</script>

<template>
  <div class="_navbar" :class="{ '_collapsed': isCompact }">
    <div class="_menu-items">
      <MenuItemLvL1 text="Главная" :iconPath="require('../icons/1-dashboard.svg')" name="lk" href="/lk/"/>
      <MenuItemLvL1 text="Заявки" :iconPath="require('../icons/2-requests.png')" name="orders" href="/orders/"/>

      <MenuGroup text="Отчеты" :iconPath="require('../icons/3-stats.svg')" name="reports">
        <MenuItemLvL2 v-if="!isManager" text="Менеджеры" href="/statistics?view=managers" name="statistics_by_managers"/>
        <MenuItemLvL2 text="Заказчики" href="/statistics?view=companies" name="statistics_by_companies"/>
        <MenuItemLvL2 text="Перевозчики" href="/statistics?view=trucking_companies" name="statistics_by_trucking"/>
        <MenuItemLvL2 text="Водители" href="/statistics?view=drivers" name="statistics_by_drivers"/>
      </MenuGroup>

      <MenuGroup v-if="!isManager" text="Финансы" :iconPath="require('../icons/4-finance.svg')" name="finances">
        <MenuItemLvL2 text="Заявки" href="/order_money_movements" name="finances_by_orders"/>
        <MenuItemLvL2 v-if="isRuk || isBuh" text="Зарплаты" href="/user_money_movements" name="finances_by_salary"/>
        <MenuItemLvL2 v-if="isRuk || isBuh" text="Прочее" href="/other_money_movements" name="finances_others"/>
        <MenuItemLvL2 text="Акты сверки" href="/contragent_moneys" name="finances_contragent"/>
      </MenuGroup>

      <MenuItemLvL1 text="Компании" :iconPath="require('../icons/5-building.svg')" name="companies" href="/companies/"/>
      <MenuItemLvL1 text="Водители" :iconPath="require('../icons/6-truck.svg')" name="drivers" href="/drivers"/>

      <MenuGroup text="Документы" :iconPath="require('../icons/7-inbox.svg')" name="documents">
        <MenuItemLvL2 text="Исходящие" href="/documents" name="documents"/>
        <MenuItemLvL2 text="Файлы" href="/attachments" name="attachments"/>
        <MenuItemLvL2 text="Шаблоны" href="/doc_templates" name="doc_templates"/>
        <MenuItemLvL2 v-if="isRuk || isBuh" text="Экспорт в 1С" href="/documents/exportable" name="export_to_one_s"/>
      </MenuGroup>

      <MenuGroup v-if="isRuk" text="Настройки" :iconPath="require('../icons/8-settings.svg')" name="settings">
        <MenuItemLvL2 text="Общее" href="/settings/show" name="setting_common"/>
        <MenuItemLvL2 text="Сотрудники" href="/users" name="settings_users"/>
        <MenuItemLvL2 text="Наши компании" href="/companies/ours" name="settings_companies"/>
        <MenuItemLvL2 text="Импорт контрагентов" href="/settings/import_from_excel" name="dad"/>
      </MenuGroup>
    </div>

    <CompactButton/>
  </div>
</template>

<style lang="scss" scoped>
._navbar {
  transition: all 0.5s ease-in-out;
  height: 100%;
  border-radius: 0;
  position: relative;
  padding: 4rem 0;

  &._collapsed {
    width: 60px;
    transition: all 0.5s ease-in-out;
    
    /deep/ ._collapsed-hidden {
      display: none;
    }

    /deep/._menu-group {
      padding: 0;
      &.selected:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 6px 5px 0;
        border-color: transparent #f1f4f8 transparent transparent;
        right: 0;
        top: 40%;
        position: absolute;
      }
      & ._button {
        padding: 2rem 0;
      }
    }

    /deep/._menu-item {
      & >._item-link {
        padding: 2rem 0;
      }
    }
  }
}
</style>